:root{
  --primary: 46, 112, 108;
  --other: 255, 152, 0;

  --text-color: #333;
  --primary-color: rgb(var(--primary));
  --secondary-color: #fff;
  --other-color: #ff9800;

  --text-size: 12px;

  --bg: linear-gradient(rgba(var(--primary), 1), rgba(var(--primary), 0.8), rgba(var(--primary), 0.6));
}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: var(--text-size);
}

.icons{
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  padding: 0 5px;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  transform: translateY(-50%);
}


